body {
    margin: 0;
    background-image: url("https://static.escolakids.uol.com.br/conteudo_legenda/c15374255f16230a12fab7c8d89eee4e.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container {
    
    width: 500px;
    min-height: 560px;
    margin: 200px auto;
    box-shadow: 5px 5px 4px 2px black;
    border-radius: 20px;
  }
  h1 {
    border-radius: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px #0b0b0b;
  }
  .busca {
    display: flex;
    margin: auto;
    padding: 30px;
    /* background-color: blue; */
    justify-content: center;
  }

  .valoresCep span {
    display: flex;
    
    margin: 10px;
    padding: 4px;
    align-items: center;
    background: none;
    text-align: center;
    border: 1px solid rgb(2, 242, 18);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px #0b0b0b;
  }